<body>
  <!--Hero section-->
  <section id="hero">
    <app-hero></app-hero>
  </section>

  <section id="main">
    <app-main></app-main>
  </section>

  <footer class="footer">
    <div class="container foot-cont">
      <div id="holder">
        <a target="_blank" href="https://ieee.northwestern.edu" class="svg">
          <object id="IEEE-logo" type="image/svg+xml" data="../../../assets/IEEE-NU.svg">Your browser does not support SVGs</object>
        </a>
      </div>
    </div>
  </footer>
</body>