.foot-cont {
    text-align: center;
}

.footer {
    margin-top: 3rem;
    background-color: inherit;
    height: 5rem;
}

#holder {
    margin-top: 1rem;
    display: flex;
    /* establish flex container */
    flex-direction: column;
    /* stack flex items vertically */
    justify-content: center;
    /* center items vertically, in this case */
    align-items: center;
    /* center items horizontally, in this case */
    text-align: center;
}

#IEEE-logo {
    height: 4rem;
    margin: 1rem;
}

a.svg:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

a.svg {
    position: relative;
    display: inline-block;
}