<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1>About</h1>
      </div>
      <div class="col-lg-9">
        <p>
          We’re exploring a galaxy far far away and you’re invited!
          <br>
          <br>BadHacks is IEEE NU’s annual mini-hackathon where you are not only allowed, but encouraged to bring your worst
          tech ideas to life. This year, we upped our marketing budget just enough to have a theme: sci-fi! Explore your
          dark side with the baddest hack that makes Darth Vader cringe! Challenge your inner sci-fi fan to replicate some
          of the futuristic tech we think is only for movies! Create something that has nothing to do with sci-fi! Whatever
          your counter-productive idea is, make it come to life at BadHacks.
          <br>
          <br>Prizes will probably include lightsabers and up to $100 in Amazon gift cards. Of course, everyone will receive
          some C-3PO knowledge. The hacks will be bad&hellip; the games that we’ll have for you will probably be worse. But
          don’t worry, at least dinner will be good. Join us on Saturday, May 5th from 1-10PM at The Garage!
          <br>
          <br> And may the
          <del>4th</del> 5th be with you.
          <br>
          <br>Register here:
          <a target="_blank" href="https://ieeenu.typeform.com/to/yzfvvH">BadHacks 2018 Registration Form</a>
          <br>And check out the event on <a target="_blank" href="https://www.facebook.com/events/161417684539017/">Facebook</a>!
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1>Event Schedule</h1>
      </div>
      <div class="col-lg-9 schedule">
        <p>1:00 PM:
          <span class="event">Registration and Sign in</span>
        </p>
        <p>1:30 PM:
          <span class="event">Opening Ceremony</span>
        </p>
        <p>2:00 PM:
          <span class="event">Hacking Begins</span>
        </p>
        <p>4:00 PM:
          <span class="event">Blindfolded Partner Typeracer</span>
        </p>
        <p>6:00 PM:
          <span class="event">Dinner</span>
        </p>
        <p>8:00 PM:
          <span class="event">Fibbage</span>
        </p>
        <p>9:00 PM:
          <span class="event">Hacking Concludes</span>
        </p>
        <p>9:00 PM:
          <span class="event">Project Expo</span>
        </p>
        <p>9:30 PM:
          <span class="event">Closing Ceremony</span>
        </p>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1>FAQ</h1>
      </div>
      <div class="col-lg-9 faq">
        <div id="accordion" style="text-align: left;">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <div class="question">Why the Sci-Fi theme?</div>
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                You must question our decisions not. Hmmmmmm.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <div class="question">I'm new to coding. Will I be out of place?</div>
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                No, good thing that is. Everyone starts somewhere, and what better place to start than a bad-hackathon? We'll have mentors
                at hand to help you out if you're struggling, and plenty of games so you can blow off steam. Come through,
                you must.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <div class="question">What prizes can I win?</div>
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                Offering giftcards and other miscellaneous sci-fi related gifts, we are.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  <div class="question">I have more questions.</div>
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                Email us, you can:
                <a href="mailto:ieee@u.northwestern.edu">ieee(at)u.northwestern.edu</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1>Photos from BadHacks 2017</h1>
      </div>
      <div class="col-lg-9 pics">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="assets/DSC_0594.JPG" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/DSC_0678.JPG" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/DSC_0672.JPG" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/DSC_0705.JPG" alt="Fourth slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/DSC_0679.JPG" alt="Fifth slide">
            </div>
          </div>

          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>

      </div>
    </div>
  </div>
  <div class="container">
    <div id="asteroids-hold">
      <iframe class="asteroids" src="https://www.silvergames.com/en/asteroids/iframe" width="400" height="375" style="margin:0;padding:0;border:0"></iframe>
    </div>
  </div>
</body>