.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card, .card-header, .mb-0 {
    background-color: inherit;
    border: 0px;
}

.card-header {
    border-bottom: 1px solid rgba(244, 237, 227, 0.082);
}

.btn-link {
    color: #f8db10;
    font-size: 1rem;
}

.col-lg-9{
    text-align: left;
}

h1{
    border-bottom: .5rem solid #f8db10;
    width: 3rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}

.question {
    position: relative;
    right: 33px;
}
/* 
.asteroids {
    position: relative;
    left: 310px;
    top: 30px;
} */

#asteroids-hold {
    margin-top: 1rem;
    display: flex;
    /* establish flex container */
    flex-direction: column;
    /* stack flex items vertically */
    justify-content: center;
    /* center items vertically, in this case */
    align-items: center;
    /* center items horizontally, in this case */
    height: 50vh;
    text-align: center;
}

.game{
    margin-top: 1rem;
    display: flex;
    /* establish flex container */
    flex-direction: column;
    /* stack flex items vertically */
    justify-content: center;
    /* center items vertically, in this case */
    align-items: center;
    /* center items horizontally, in this case */
    height:30vh;
    text-align: left;
}